.react-datepicker {
    background-color: white;
    border: none;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    padding: 8px;
    font-family: Pretendard, sans-serif;
}

.react-datepicker__month-container {
    border-radius: 8px;
    border: none;
}

.react-datepicker__navigation {
    top: 11px;
}

.react-datepicker__header {
    background-color: white;
    border-bottom: none;
}

.react-datepicker__current-month {
    font-size: 14px;
    color: var(--color-gray-700);
}

.react-datepicker__day-names {
    border-bottom: 1px solid var(--color-gray-100);
}

.react-datepicker__day-name {
    text-align: center;
    margin: 14px 6px 5px;
    font-size: 12px;
}

.react-datepicker__day {
    font-size: 12px;
    margin: 6px;
}

.react-datepicker__day--outside-month {
    cursor: default;
    color: var(--color-gray-400);
}

.react-datepicker__day--selected {
    background-color: var(--color-green-300);
    border-radius: 100%;
}

.react-datepicker__day--selected:not([aria-disabled=true]):hover {
    background-color: var(--color-green-300) !important;
    border-radius: 100% !important;
}

.react-datepicker__day:not([aria-disabled=true]):hover {
    background-color: var(--color-gray-200);
    border-radius: 100%;
}
